/* mobile */

.text-content-container {
  background-color: var(--color-neutral-black);
  padding-inline: 28px;
  padding-block: 48px;
  letter-spacing: 2px;
}

.recent-story {
  color: var(--color-neutral-white);
  font-size: var(--font-size-12px);
  font-weight: 600;
}

.title {
  color: var(--color-neutral-white);
  font-size: var(--font-size-32px);
  font-weight: 600;
  width: 15ch;
  letter-spacing: 3px;
  line-height: 42px;

  margin-block: 16px;
}

.date {
  color: hsl(0, 0%, 75%);
  font-size: var(--font-size-13px);
}

.author {
  color: var(--color-neutral-white);
  font-size: var(--font-size-13px);
}

.content {
  /* mobile: color --color-light-grey-dark-theme */
  color: var(--color-light-grey-dark-theme);
  font-size: var(--font-size-15px);
  margin-block: 24px;
}

.link-text {
  color: var(--color-neutral-white);
  font-size: var(--font-size-12px);
  font-weight: 600;
}

.link-text-arrow-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link-text-arrow-container g {
  stroke: var(--color-neutral-white);
}
/* tablet */

@media screen and (min-width: 48rem) {
  .text-content-container {
    background-color: revert;
  }
  .recent-story {
    letter-spacing: 3px;
  }
  .title {
    font-size: var(--font-size-40px);
    letter-spacing: 6px;
    line-height: 54px;

    margin-block-start: 24px;
  }

  .content {
    /* tablet: color hsl(210,9%,70%) */
    color: hsl(210, 9%, 70%);
    width: 387px;
    line-height: 27px;

    margin-block-end: 19px;
  }
}
/* desktop */
@media screen and (min-width: 90rem) {
  .title {
  }

  .content {
    /* margin-block-end: revert; */
  }
}
