/intermediate/todoAppChallenge/node_modules/
/intermediate/roomHomepage/node_modules/
/intermediate/interactiveComments/node_modules/
/intermediate/ipAddressTracker/node_modules/
/intermediate/clockApp/node_modules/
/intermediate/clockApp/starter-code/
/intermediate/interactiveCardForms/node_modules/
/intermediate/interactiveCardForms/starter-code/
/intermediate/urlShorteningApiPage/node_modules/
/intermediate/urlShorteningApiPage/.env/
/intermediate/weatherApp/node_modules/
/intermediate/weatherApp/starter-code/
/intermediate/weatherApp/.env.local
/intermediate/weatherApp/.next/
/advanced/mernProjects/frontend/node_modules/
/advanced/multiPageSetup/node_modules/
/advanced/rockPaperScissorsGame/node_modules/
/advanced/webpackRockPaperGame/node_modules/
/advanced/nextJsProjects/archStudioChallenge/node_modules/
/advanced/nextJsProjects/archStudioChallenge/.next
/advanced/nextJsProjects/archStudioChallenge/starter-code/
/advanced/nextJsProjects/archStudioChallenge/.env*.local
/advanced/nextJsProjects/example-app/webpackRockPaperGame/node_modules/
/advanced/nextJsProjects/spaceTourismMultiPageWebsite/node_modules/
/advanced/nextJsProjects/spaceTourismMultiPageWebsite/.next
/advanced/nextJsProjects/connectFourGame/node_modules
/advanced/nextJsProjects/connectFourGame/.next
/advanced/nextJsProjects/connectFourGame/.env.local
/advanced/nextJsProjects/connectFourGame/starter-code
/advanced/nextJsProjects/photosnapMultiPageWebsite/node_modules
/advanced/nextJsProjects/photosnapMultiPageWebsite/.next
/advanced/nextJsProjects/photosnapMultiPageWebsite/.env.local
/advanced/nextJsProjects/photosnapMultiPageWebsite/starter-code
/guru/nextProject/designoMultiPageWebsite/node_modules
/guru/nextProject/designoMultiPageWebsite/.next
/guru/nextProject/designoMultiPageWebsite/.env.local
/guru/nextProject/designoMultiPageWebsite/starter-code
/guru/nextProject/audiophileEcommerce/node_modules
/guru/nextProject/audiophileEcommerce/.next
/guru/nextProject/audiophileEcommerce/.env.local
/guru/nextProject/audiophileEcommerce/starter-code
/guru/nextProject/kanbanTaskWebApp/node_modules
/guru/nextProject/kanbanTaskWebApp/.env.local
/guru/nextProject/kanbanTaskWebApp/.env
/guru/nextProject/kanbanTaskWebApp/.next
/learning/nextjs/sellProductStripeCalendar/node_modules
/learning/nextjs/sellProductStripeCalendar/.env
/learning/nextjs/sellProductStripeCalendar/.env.local
/learning/nextjs/sellProductStripeCalendar/.next
/learning/nextjs/productStripe/node_modules
/learning/nextjs/productStripe/.env
/learning/nextjs/productStripe/.env.local
/learning/nextjs/productStripe/.next
/learning/nextjs/supabaseProductStripe/node_modules
/learning/nextjs/supabaseProductStripe/.env
/learning/nextjs/supabaseProductStripe/.env.local
/learning/nextjs/supabaseProductStripe/.next
/testing
/testingNext
/guru/testingFolder/node_modules
/guru/testingFolder/.next
/guru/testingFolder/.env.local
/guru/testingNextAuth/.next
/guru/testingNextAuth/.env.local
/guru/testingNextAuth/node_modules/
.env