/* mobile */

.footer {
  --btn-bg: var(--color-neutral-white);
  --btn-fg: var(--color-dark-grey);
  background-color: var(--color-black);
  padding-block-start: 253px;
  padding-block-end: 64px;
  padding-inline: 24px;
}

.logo-nav-container img {
  width: 202px;
  height: 27px;

  margin-inline: auto;
}

.mobile-seperator {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-barline);

  margin-block: 32px;
}

.nav-list {
  text-align: center;
}

.nav-list li:nth-child(2) {
  margin-block: 32px;
}

.secondary-nav a {
  color: var(--color-neutral-white);
  font-size: var(--font-size-14px);
  display: block;
  letter-spacing: 2px;
}

.address {
  margin-block: 40px;
}

.contact {
  margin-block-end: 40px;
}

.address,
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-contact-social-container span {
  color: var(--color-footer-grey);
  font-size: var(--font-size-16px);
}

.address span:first-child,
.contact span:first-child {
  font-weight: 600;
}

.social-media-icons {
  display: flex;
  gap: 16px;
  width: max-content;
  margin-inline: auto;
}

/* .icon-container path {
  fill: blue;
} */

.call-to-action {
  color: var(--color-neutral-white);
  text-align: center;
  border-radius: 15px;

  background-color: var(--color-call-to-action-peach);

  padding-inline: 24px;
  padding-block: 64px;
}

.call-to-action h2 {
  font-size: var(--font-size-32px);
  line-height: 34px;

  margin-inline: auto;
  width: 11ch;
}

.call-to-action p {
  margin-block-start: 20px;
  margin-block-end: 32px;
  font-size: var(--font-size-15px);

  line-height: 26px;
}

.call-to-action h2,
.call-to-action a {
  font-weight: 500;
}

.call-to-action a {
  display: inline-block;
  background-color: var(--btn-bg);
  color: var(--btn-fg);
  border-radius: 8px;

  padding-block: 17px;
  padding-inline: 18px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: linear-gradient(var(--color-bg-circle));
}

/* tablet */

@media screen and (min-width: 47rem) {
}

/* desktop */
@media screen and (min-width: 89rem) {
}
