/* mobile */

/* ***** */
/* hide or show empty text content */
/* ***** */

/* do not show */
/* .input-name-container[data-isempty="true"] .empty-text-container,
.input-email-container[data-isempty="true"] .empty-text-container,
.input-phone-container[data-isempty="true"] .empty-text-container,
.input-message-container[data-isempty="true"] .empty-text-container {
  display: none;
} */

/* show content */
.input-name-container[data-isempty="false"] .empty-text-container,
.input-email-container[data-isempty="false"] .empty-text-container,
.input-phone-container[data-isempty="false"] .empty-text-container,
.input-message-container[data-isempty="false"] .empty-text-container {
  display: flex;
}
/* ***** */
/* hide or show empty text content */
/* ***** */

.contact-form {
  margin-block-start: 48px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.input-name-container,
.input-email-container,
.input-phone-container,
.input-message-container {
  border-bottom: 2px solid var(--color-neutral-white);

  position: relative;
}

/* padding block start */

.input-email,
.input-phone,
.input-message {
  margin-block-start: 25px;
}

/* padding block end */

.input-name,
.input-email,
.input-phone {
  margin-block-end: 11px;
}

.input-name,
.input-email,
.input-phone,
.input-message {
  display: block;
  width: 100%;

  background: transparent;
}

.input-name::placeholder,
.input-email::placeholder,
.input-phone::placeholder,
.input-message::placeholder {
  font-weight: 500;

  color: hsl(10, 72%, 83%);
}

.submit-btn {
  font-weight: 500;
  border-radius: 8px;
  background-color: var(--color-neutral-white);

  margin-block-start: 40px;

  padding: 48px;
  padding-block: 18px;
}

.empty-text-container {
  position: absolute;
  top: 0px;
  right: 0px;

  align-items: center;
}

.empty-text-container span {
  font-size: var(--font-size-12px);
  font-style: italic;
  letter-spacing: 1px;

  margin-inline-end: 8px;
}

/* tablet */

@media screen and (min-width: 48rem) {
}

/* desktop */

@media screen and (min-width: 89rem) {
}
