/* mobile */

.contact-form {
  margin-block-start: 48px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.input-name-container,
.input-email-container,
.input-phone-container,
.input-message-container {
  border-bottom: 2px solid var(--color-neutral-white);
}

/* padding block start */

.input-email,
.input-phone,
.input-message {
  padding-block-start: 25px;
}

/* padding block end */

.input-name,
.input-email,
.input-phone {
  padding-block-end: 11px;
}

.input-name,
.input-email,
.input-phone,
.input-message {
  display: block;
  width: 100%;

  background: transparent;
}

.input-name::placeholder,
.input-email::placeholder,
.input-phone::placeholder,
.input-message::placeholder {
  font-weight: 500;

  color: hsl(10, 72%, 83%);
}

.submit-btn {
  font-weight: 500;
  border-radius: 8px;
  background-color: var(--color-neutral-white);

  margin-block-start: 40px;

  padding: 48px;
  padding-block: 18px;
}

/* tablet */
/* desktop */
