/* mobile */

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.input-name::placeholder,
.input-email::placeholder,
.input-phone::placeholder,
.input-message::placeholder {
  font-weight: 500;

  color: hsl(10, 72%, 83%);
}

/* tablet */
/* desktop */
