[data-theme="light"].marketing-point-container {
  --bg: var(--color-neutral-white);
  --fg: var(--color-neutral-black);
}

[data-theme="dark"].marketing-point-container {
  --bg: var(--color-neutral-black);
  --fg: var(--color-neutral-white);
}

.marketing-point-container {
  background-color: var(--bg);
  color: var(--fg);
}

/* text content */

.text-content-container h2 {
  font-size: var(--font-size-40px);
  font-weight: 600;
}

.text-content-container p {
  font-size: var(--font-size-15px);
  color: var(--color-light-grey);
  font-weight: 400;
}

.link-text {
  font-size: var(--font-size-12px);
  font-weight: 600;
}
