/* mobile */

.project-link-card {
  --border-radius: 16px;
  /* display flex, flex direction colum */
  --title-color: var(--color-peach);
  --text-color: var(--color-neutral-black);
  --card-background-color: var(--color-projectlink-card-bg);
}
.img-container {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);

  min-height: 320px;
  overflow: hidden;
}
.text-content {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);

  text-align: center;
  background-color: var(--card-background-color);
  /* background-color: var(--color-peach); */

  padding-inline: 30px;
  padding-block: 32px;
}
.title {
  font-size: var(--font-size-20px);
  color: var(--title-color);
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: 400;

  margin-block-end: 16px;
}

.description {
  font-size: var(--font-size-16px);
  color: var(--text-color);

  padding-inline: 6px;
}
/* tablet */

/* tablet only */

/* @media screen and (min-width: 48rem) and (max-width: 88rem) {
  .project-link-card {
    width: 689px;
  }
} */

/* tablet only */

@media screen and (min-width: 47rem) {
  /* project link card */

  .project-link-card {
    flex-direction: row;
    display: flex;
  }

  .img-container,
  .text-content {
    min-height: 310px;
  }

  .img-container {
    border-top-right-radius: revert;
    border-bottom-left-radius: var(--border-radius);

    flex-basis: 339px;
  }

  /* flex-direction row */
  /* text-content */

  .text-content {
    border-bottom-left-radius: revert;
    border-top-right-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 350px;
  }
  /* display flex */
  /* flex-direction colum */
  /* justify content center */
  .project-link-card:nth-child(3) .description {
    padding-inline: 12px;
  }
}

/* desktop */

@media screen and (min-width: 89rem) {
  /* hover */

  .project-link-card:hover {
    --title-color: var(--color-neutral-white);
    --text-color: var(--color-neutral-white);
    --card-background-color: var(--color-call-to-action-peach);
  }

  .project-link-card {
    flex-basis: 350px;

    flex-direction: column;
  }

  .img-container {
    border-top-right-radius: var(--border-radius);
    border-bottom-left-radius: revert;

    flex-basis: 320px;
  }

  .text-content {
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: revert;

    flex-basis: revert;
    min-height: revert;
  }
}
