/* mobile */

.hero-container {
  background-color: var(--color-peach);
  position: relative;

  padding-block-start: 80px;
  padding-inline: 24px;

  overflow: hidden;
}

.hero-bg-img {
  max-width: revert;
  position: absolute;

  top: 105px;
  left: 0px;
}

.text-content {
  text-align: center;
}

.hero-title {
  color: var(--color-neutral-white);
  font-size: var(--font-size-32px);
  font-weight: 500;
  line-height: 35px;
}

.description {
  color: var(--color-neutral-white);
  font-size: var(--font-size-15px);

  line-height: 24px;
  margin-block-start: 30px;
  margin-block-end: 28px;
}

.learn-more-btn {
  display: inline-block;

  color: var(--color-neutral-black);
  background-color: var(--color-neutral-white);
  font-weight: 500;
  border-radius: 8px;
  padding-inline: 20px;
  padding-block: 15px;
}

.hero-img {
  position: relative;
  width: 100%;
  min-height: 465px;
}

.hero-img img {
  position: absolute;
  max-width: revert;

  width: 665px;
  height: min-content;
  top: -108px;

  left: -168px;
}

.project-links-container {
  padding-inline: 25px;
  margin-block: 120px;

  display: flex;
  flex-direction: column;

  gap: 24px;
}

.home-page-features-container {
  padding-inline: 25px;

  margin-block-end: 311px;
}

/* testing */

.test-container {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));

  gap: 40px 0px; */

  padding-inline: 24px;

  display: flex;

  flex-direction: column;

  gap: 40px 0px;
}

/* testing */

/* tablet */

@media screen and (min-width: 47rem) {
  .inline-spacing,
  .project-links-container,
  .home-page-features-container,
  .test-container {
    padding-inline: 40px;
  }
  .hero-container {
    padding-block-start: 60px;
    padding-inline: 58px;

    border-radius: 12px;
  }

  .hero-bg-img {
    top: 103px;
    left: revert;
    right: -88px;
  }

  .hero-title {
    font-size: var(--font-size-48px);
    width: 16ch;
    line-height: 48px;

    margin-inline: auto;
  }
  .description {
    font-size: var(--font-size-16px);
    padding-inline: 107px;

    margin-block-end: 36px;
  }
  .hero-img img {
    left: -45px;
  }

  .home-page-features-container {
    margin-block-end: 331px;
  }
}

/* desktop */

@media screen and (min-width: 89rem) {
  .inline-spacing,
  .project-links-container,
  .home-page-features-container,
  .test-container {
    padding-inline: 165px;
  }
  .hero-container {
    padding-block: 145px;
    padding-inline-start: 90px;
  }
  .hero-bg-img {
    top: 0px;
    right: 0px;
  }
  .text-hero-img-container {
    display: flex;
  }
  .text-content {
    text-align: left;
  }
  .hero-title {
    margin-inline: revert;
  }
  .description {
    padding-inline: revert;
    width: 45ch;

    margin-block-end: 47px;
  }
  .hero-img {
    min-height: revert;
  }
  .hero-img img {
    width: 600px;
    top: -165px;
    left: 18px;
  }
  /* project link */

  .project-links-container {
    margin-block: 160px;

    display: grid;
    gap: 24px 30px;

    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
      "web-design app-design"
      "web-design graphic-design";
  }

  .project-links-container div:nth-child(1) {
    grid-area: web-design;
  }
  .project-links-container div:nth-child(2) {
    grid-area: app-design;
  }
  .project-links-container div:nth-child(3) {
    grid-area: graphic-design;
  }

  .home-page-features-container {
    display: flex;
    gap: 30px;
  }

  /* will be apart of webdesign, app design and graphic design pages */

  .test-container {
    flex-flow: row wrap;
    gap: 32px 30px;
  }
}
