/* mobile */

.map-text-content-container {
  --three-circle-bg-color: hsl(14, 76%, 97%);
}

.text-content-container {
  padding-block: 80px;
  padding-inline: 24px;

  position: relative;
  overflow: hidden;

  background-color: var(--three-circle-bg-color);
  font-size: var(--font-size-15px);
}

.text-content-container img {
  max-width: revert;
  width: 584px;

  position: absolute;

  top: 0px;
  left: 0px;
}

.title {
  color: var(--color-peach);
  font-size: var(--font-size-32px);

  text-align: center;

  margin-block-end: 24px;
}

.address-contact-container {
  text-align: center;
}

.building,
.contact-title {
  font-size: var(--font-size-15px);
}

.address-container {
  margin-block-end: 24px;
}

.street-address span,
.city-country-zipcode-container span,
.phone-number-container span,
.email-container span {
  display: inline-block;
}

.street-address,
.phone-number-container {
  margin-block-start: 2px;
}

.street-address > * + *,
.city-country-zipcode-container > * + *,
.phone-number-container > * + *,
.email-container > * + * {
  margin-inline-start: 6px;
}

/* tablet */

@media screen and (min-width: 47rem) {
  .img-container img {
    border-radius: 16px;
  }

  .text-content-container {
    padding-block: 88px;
    padding-inline: 74px;

    font-size: var(--font-size-16px);
  }

  .title {
    text-align: left;

    font-size: var(--font-size-40px);
  }

  .address-contact-container {
    text-align: left;

    display: flex;
    gap: 110px;
  }

  .building,
  .contact-title {
    font-size: var(--font-size-16px);
  }

  .address-container {
    margin-block-end: 0px;
  }

  .text-content-container {
    border-radius: 16px;
  }

  .text-content-container img {
    top: -268px;
  }
}

/* desktop */
@media screen and (min-width: 89rem) {
  /* map right side */
  .map-text-content-container:nth-child(1) .img-container,
  .map-text-content-container:nth-child(3) .img-container {
    order: 1;
  }
  /* map left side */
  /* map right side */
  .img-container {
    flex-basis: 350px;
  }

  .img-container img {
    height: 326px;
  }

  .text-content-container {
    flex-basis: 730px;

    padding-inline: 95px;
    padding-block: 84px;
  }
}
