.feature-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: var(--font-size-18px);
  font-weight: 600;
}

.feature-container:nth-of-type(2) h2 {
  margin-block-start: 67px;
}

.feature-container h2 {
  margin-block-start: 48px;
  margin-block-end: 16px;
}

.feature-container p {
  width: 36ch;
  line-height: 27px;
}

.text-content {
  color: var(--color-light-grey-light-theme);
  font-size: var(--font-size-15px);
  text-align: center;
}

/* tablet */

@media screen and (min-width: 47rem) and (max-width: 89rem) {
  [data-isfeaturepage="true"].feature-container:nth-of-type(2) h2 {
    margin-block-start: 85px;
  }
}

@media screen and (min-width: 48rem) {
  /* flex basis */
  .feature-container[data-isfeaturepage="true"] {
    flex-basis: 340px;
  }
  .feature-container[data-isfeaturepage="true"] p {
    width: 40ch;
  }
  .feature-container p {
    width: 52ch;
  }
}
/* desktop */

@media screen and (min-width: 90rem) {
  .feature-container {
    flex-basis: 350px;
  }

  .feature-container:nth-of-type(2) h2 {
    margin-block-start: 85px;
  }
  .feature-container p {
    width: 39ch;
  }
}
