/* mobile */
.web-design-hero-content {
  text-align: center;
  background-color: var(--color-peach);
  color: var(--color-neutral-white);

  padding-inline: 24px;
  padding-block: 105px;

  position: relative;

  overflow: hidden;
}

.img-container {
  position: absolute;
  top: 0px;
  right: 215px;
}

.img-container img {
  max-width: revert;
}

.title {
  font-size: var(--font-size-32px);
  font-weight: 500;

  margin-block-end: 17px;
}

.description {
  font-weight: 400;
  font-size: var(--font-size-15px);
}
/* tablet */

@media screen and (min-width: 47rem) {
  .title {
    font-size: var(--font-size-48px);
  }
  .description {
    font-size: var(--font-size-16px);
    text-align: center;
    padding-inline: 115px;
  }
  .inline-spacing {
    padding-inline: 40px;
  }
  .web-design-hero-content {
    border-radius: 12px;
  }
  .img-container {
    top: -115px;
    right: 16px;
  }
}

/* desktop */

@media screen and (min-width: 89rem) {
}
