/* .about-feature-container{
    --title-font-size: 
} */

/* mobile */

.one-circle-bg-img.text-container {
  background-color: var(--color-peach);

  padding-block: 77px;
}

.text-container {
  --three-circle-bg-color: hsl(14, 76%, 97%);
  padding-inline: 24px;
  padding-block: 78px;

  text-align: center;
  background-color: var(--three-circle-bg-color);

  position: relative;
  overflow: hidden;
}

.text-container img {
  max-width: revert;
  height: revert;

  position: absolute;
  /* opacity: ; */
}

.one-circle-bg-img img {
  top: -140px;
  left: -505px;
}

.three-circle-bg-img img {
  top: 0px;
  left: 0px;
}

.one-circle-bg-img .title {
  color: var(--color-neutral-white);

  margin-block-end: 18px;
}

.title {
  --title-font-size: var(--font-size-32px);
  font-size: var(--title-font-size);
  font-weight: 500;

  color: var(--color-peach);
  margin-block-end: 24px;
}

.description-container p + p {
  margin-block-start: 16px;
}

.one-circle-bg-img .description {
  color: var(--color-neutral-white);
}

.description {
  --description-font-size: var(--font-size-15px);
  font-size: var(--description-font-size);

  line-height: 25px;
}

/* tablet */

@media screen and (min-width: 47rem) {
  .about-feature-container {
    --border-radius-about-feature: 12px;
  }
  .img-container {
    border-top-left-radius: var(--border-radius-about-feature);
    border-top-right-radius: var(--border-radius-about-feature);

    overflow: hidden;
  }
  .text-container {
    padding-inline: 60px;
    padding-block: 68px;

    border-bottom-left-radius: var(--border-radius-about-feature);
    border-bottom-right-radius: var(--border-radius-about-feature);

    overflow: hidden;
  }
  .one-circle-bg-img img {
    top: -422px;
    left: -128px;
  }
  .three-circle-bg-img img {
    top: -210px;
    left: 90px;
  }
  .title {
    --title-font-size: var(--font-size-40px);

    margin-block-end: 20px;
  }
  .description {
    --description-font-size: var(--font-size-16px);
  }
  .description-container p + p {
    margin-block-start: 28px;
  }
}

/* desktop */

@media screen and (min-width: 89rem) {
  /*  */

  .about-feature-container {
    display: flex;
  }

  [data-imgrightside="true"] .img-container {
    order: 1;
  }

  .img-container {
    border-top-left-radius: var(--border-radius-about-feature);
    border-bottom-left-radius: var(--border-radius-about-feature);
    border-top-right-radius: revert;
  }

  .text-container {
    flex-basis: 635px;
    text-align: left;

    padding-inline: 96px;
    padding-block: 154px;

    border-bottom-left-radius: revert;
    border-top-right-radius: var(--border-radius-about-feature);
    border-bottom-right-radius: var(--border-radius-about-feature);
  }

  /* img on right side */

  [data-imgrightside="true"] .img-container {
    order: 1;

    border-top-left-radius: revert;
    border-bottom-left-radius: revert;
    border-top-right-radius: var(--border-radius-about-feature);
    border-bottom-right-radius: var(--border-radius-about-feature);
  }

  [data-imgrightside="true"] .three-circle-bg-img img {
    top: -163px;
    left: 5px;
  }

  [data-imgrightside="true"] .one-circle-bg-img img {
    top: -162px;
    left: 5px;
  }

  .three-circle-bg-img img {
    top: 55px;
    left: -145px;
  }

  [data-imgrightside="true"] .text-container {
    border-top-left-radius: var(--border-radius-about-feature);
    border-bottom-left-radius: var(--border-radius-about-feature);
    border-top-right-radius: revert;
    border-bottom-right-radius: revert;
  }

  [data-imgrightside="true"] .one-circle-bg-img.text-container {
    padding-inline-end: 82px;
    padding-block: 135px;
  }

  /* img on right side */
}
