/* .about-feature-container{
    --title-font-size: 
} */

/* mobile */

.one-circle-bg-img.text-container {
  background-color: var(--color-peach);

  padding-block: 77px;
}

.text-container {
  --three-circle-bg-color: hsl(14, 76%, 97%);
  padding-inline: 24px;
  padding-block: 78px;

  text-align: center;
  background-color: var(--three-circle-bg-color);

  position: relative;
  overflow: hidden;
}

.text-container img {
  max-width: revert;
  height: revert;

  position: absolute;
  /* opacity: ; */
}

.one-circle-bg-img img {
  top: -140px;
  left: -505px;
}

.three-circle-bg-img img {
  top: 0px;
  left: 0px;
}

.one-circle-bg-img .title {
  color: var(--color-neutral-white);

  margin-block-end: 18px;
}

.title {
  --title-font-size: var(--font-size-32px);
  font-size: var(--title-font-size);
  font-weight: 500;

  color: var(--color-peach);
  margin-block-end: 24px;
}

.description-container p + p {
  margin-block-start: 16px;
}

.one-circle-bg-img .description {
  color: var(--color-neutral-white);
}

.description {
  --description-font-size: var(--font-size-15px);
  font-size: var(--description-font-size);

  line-height: 25px;
}

/* tablet */

@media screen and (min-width: 47rem) {
  .title {
    --title-font-size: var(--font-size-40px);
    --description-font-size: var(--font-size-16px);
  }
}

/* desktop */

@media screen and (min-width: 89rem) {
}
