.footer {
  background-color: var(--color-neutral-black);
}

.logo-icon g path:first-child {
  fill: var(--color-neutral-white);
}

.navlink {
  color: var(--color-neutral-white);
  font-size: var(--font-size-12px);
  font-weight: 600;
}

.social-media-icons svg path {
  fill: var(--color-neutral-white);
}

.link-text-arrow-container {
  gap: 22px;
  display: flex;
  align-items: center;
}

.link-text-arrow-container span {
  font-size: var(--font-size-12px);
  font-weight: 600;
  color: var(--color-neutral-white);
  letter-spacing: 2px;
}

.link-text-arrow-container g {
  stroke: var(--color-neutral-white);
}
