.story-link-container {
  position: relative;
  display: block;
  color: var(--color-neutral-white);
  /* padding-inline: 32px; */
  /* padding-block-end: 40px; */
}

.story-link-container::after {
  content: "";
  display: block;
  inset: 0;
  background-color: hsla(0, 0%, 0%, 0.2);
  position: absolute;
}

.story-link-container img {
  width: 100%;
}

/* text content */

.text-content-container {
  z-index: 1;
  position: absolute;
  bottom: 40px;
  padding-inline: 32px;
  width: 100%;
}

.date {
  display: block;
}

.text-content-container h2 {
  margin-block-end: -5px;
  font-size: var(--font-size-18px);
  font-weight: 600;
}

.text-content-container span {
  font-size: var(--font-size-13px);
}

.bar-separator {
  height: 1px;
  display: block;
  background-color: hsla(0, 0%, 100%, 0.5);
  margin-block: 16px;
  margin-block-end: 20px;
}

.read-arrow-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-arrow-container span {
  letter-spacing: 1px;
  font-size: var(--font-size-12px);
  font-weight: 600;
}

/* arrow */
.read-story-arrow g {
  stroke: var(--color-neutral-white);
}

@media screen and (min-width: 48rem) {
  /* odd */
  .story-link-container:nth-child(odd) {
    flex-basis: 389px;
  }
  /* even */
  .story-link-container:nth-child(even) {
    flex-basis: 379px;
  }

  .story-link-container img {
    height: 500px;
  }
}

@media screen and (min-width: 90rem) {
  .story-link-container {
    position: relative;
    transition: transform 1000ms ease-in;
    transform: translateY(0px);

    flex-wrap: revert;
  }

  /* odd */
  .story-link-container:nth-child(odd) {
    flex-basis: revert;
  }
  /* even */
  .story-link-container:nth-child(even) {
    flex-basis: revert;
  }

  .story-link-container img {
    height: revert;
  }

  .story-link-container:hover {
    transition: transform 1000ms ease-out;
    transform: translateY(-16px);
  }

  .story-link-container:hover.story-link-container::after {
    transition: opacity 1000ms ease-in 800ms;
    /* transform: translateY(0px); */
    opacity: 1;
  }

  .story-link-container::after {
    content: "";
    display: block;
    height: 6px;
    width: 100%;
    position: absolute;
    background: linear-gradient(var(--main-accent));
    /* transform: translateY(-6px); */
    opacity: 0;
    transition: opacity 800ms ease-in;
  }
}
